
body {
    font-size: 14px;
    
}

.logo {
    width: 200px;
    height: 80px;
}

.toolbar {
    background-color: lightblue;
}

.totalsupp {
    font-size: 18px;
}

.heading1 {
    font-size: 14px;
}

.orange {
    color: orange;
    font-weight: bold;
}

.graycol {
    color: gray;
}

.suppressiontable {
    word-wrap: break-word;
    text-align: left;
    position: relative;
}

.page {
    margin-left: 50%;
}

.gap {
    margin-left: 15%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.bar {
    border: 0.5px solid lightgray;
}

.queued {
    height: 8px;
    width: 8px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5%;
}

.inprogress {
    height: 8px;
    width: 8px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5%;    
}