<div layout="column" ng-controller="mainController" style="font-size: 18px;font-family: cursive;text-align: left" flex-gt-md="75" flex-gt-xs="100" flex-xs="100">
    <br/><br/>
        <md-card layout="column" flex style="border-radius: 10spx">
        <md-card-header layout="column" layout-align="center center">
            <strong style="font-size: 30px">About</strong>
        </md-card-header>
        <md-divider style="margin-left: 40%;margin-right: 40%;background-color: blue"></md-divider>
        <md-card-content layout="column">
            <span style="font-size: 21px">
                <b>BestChoiceAsap</b> is a blogging website about various content that can be helpful to the viewers. In today's world of vast entertainment the site tries its best to analyze and help the users to pick a best choice asap according to their likes and interests.
                It is just a small source to help and recommend people to choose the best and it may differ for every individual.
                All the images used in this site are from different sources and taken from Google.
                <br/><br/>
                Any feedback, suggestions or queries are welcomed on <b>connect@bestchoiceasap.com</b>
            </span>
        </md-card-content>
        </md-card>
</div>