<div layout="column" ng-controller="mainController" style="font-size: 18px;font-family: cursive;text-align: left" flex-gt-md="75" flex-gt-xs="100" flex-xs="100">
    <br/><br/>
    <!--<div layout="row">-->
    <div layout="column" style="margin-left: 2%;margin-right: 2%">
        <div layout="row">
            <div layout="column">
                <strong style="text-align: left;font-size: 35px">Assassin's Creed Odyssey Review</strong>    
                <span>By BestChoiceAsap on 25 June 2020</span>
            </div>
            <span flex></span>
            <md-icon style="cursor: pointer" ng-click="copylink('abc')">share<md-tooltip md-direction="top">Share</md-tooltip></md-icon>
        </div>
        <br/>
        <img hide-xs ng-src="images/allgameshd.jpg" style="height: 500px">    
        <img hide-gt-xs ng-src="images/allgameshd.jpg" style="height: 200px">    
        <br/>
        <span style="font-size: 21px">
            Ubisoft's Assassins's Creed franchise has proven to give its best with every new added element in each installment thus satisfying its fans.
        </span>
    </div>
    <br/>

    <!--        <div layout="column" style="border: 1px solid black;margin-left: 5%;border-radius: 5px" flex="20">
                <strong style="background-color: orange;color: white;text-align: center;font-size: 25px">Categories</strong>
                
                <div layout="column" layout-align="start left" style="margin-left: 2%">
                    <p style="cursor: pointer"><md-icon>games</md-icon>&nbsp;Games</p>
                    <md-divider></md-divider>
                    <p style="cursor: pointer"><md-icon>tv</md-icon>&nbsp;TV</p>
                    <md-divider></md-divider>
                </div>
            </div>-->
    <!--</div>-->
</div>