<div layout="column" ng-controller="mainController" style="font-size: 18px;font-family: cursive;text-align: left" flex-gt-md="75" flex-gt-xs="100" flex-xs="100">
    <br/><br/>
    <!--<div layout="row">-->
    <div layout="column" style="margin-left: 2%;margin-right: 2%">
        <div layout="row">
            <div layout="column">
                <strong style="text-align: left;font-size: 35px">Financial Planning</strong>    
                <span>By BestChoiceAsap on 10 July 2020</span>
            </div>
            <span flex></span>
            <md-icon style="cursor: pointer" ng-click="copylink('http://www.bestchoiceasap.com/#!/finance')">share<md-tooltip md-direction="top">Share</md-tooltip></md-icon>
        </div>
        <br/>
        <img hide-xs ng-src="images/financialplanning.jpg" style="height: 500px">    
        <img hide-gt-xs ng-src="images/financialplanning.jpg" style="height: 250px">    
        <br/>
        <span style="font-size: 21px">
            Financial Literacy can be a touchy subject as many of us feel awkward discussing our finances.We always think about more money yet we know very little about it.Even almost 95% of schools never teach about Finance Management resulting into unplanned and destructive financial management in the future.Financial literacy is very important and plays a vital role in our life especially in today's competitive world of money.It is very necessary to be financially literate so that you can yourself manage and maintain your money flow for a better life.It can also help to make responsible financial decisions integral to our everyday lives.        
        </span>
        <br/>
        <span style="font-size: 21px">
            You are never too old to learn or study about financial literacy and it can be done very easily and comfortably even by continuing your daily routine.Although there is always more to learn but here are some simple activities which you can do to start your financial literacy and grow according to your own interests and goals.
        </span>
        <br/><br/><br/>
        <div layout='column'>
            <strong style="font-size: 30px">Reading Books</strong>
            <span style="font-size: 21px">
                For any level of financial literacy,books are the best source of knowledge in every aspect.Through books you can grasp and study everything related to money and there are tons of books related to financial literacy.You just have to choose based on your own level.Although only by reading books and getting theoretical knowledge is not enough,applying them into action is what will bring the best results.
                Here are some of the related first level books that can help you get started and learn some important things about money:
            </span>        
            <br/>
            <li style="font-size: 21px">Rich Dad,Poor Dad</li>
            <li style="font-size: 21px">Think and Grow Rich</li>
        </div>
        <br/><br/>
        <div layout='column'>
            <strong style="font-size: 30px">Start investing in Stocks/Mutual Funds</strong>
            <span style="font-size: 21px">
                You will never learn to swim unless you go into the water.The same is applicable for financial literacy and growth.Unless you do not take any actions and practically do the things you will never get to know the money market.Start investing a small amount at first and study how the market works.Once you get the idea of all then you can do your own research and invest accordingly.And trust me if the investment is right you can get high profit and earn lots of money through this medium.If you know the power of compounding then you can surely get the idea behind this profit.All this can be done only with proper knowledge and analysis and always keep a check on the market through various websites and apps.      
            </span>        
        </div>
        <br/><br/>
        <div layout='column'>
            <strong style="font-size: 30px">Manage your money</strong>
            <span style="font-size: 21px">
                It does not matter how much money you make or earn,but managing the obtained revenue is the most crucial part you should do and this can be easily done by a simple rule.Divide the monthly obtained money into following categories:        
            </span>
            <br/>
            <li style="font-size: 21px"><b>Saving : </b>
                This is the most important and a must category where you have to take out a certain percentage from your obtained revenue and save it unconditionally.We can never predict the future and this is where this category will serve you its best if you follow it honestly and consistently.It can also be considered as Emergency Fund.
            </li>
            <br/>
            <li style="font-size: 21px"><b>Investing : </b>
                This is the category where your money works for you and not the vice versa.Even while you sleep or even when you are on your vacation this category will work for you and make you money.The investment can be anything based on your income like renting a house or a car,investing in good stocks/mutual funds,real estate,etc.          
            </li>
            <br/>
            <li style="font-size: 21px"><b>Goal : </b>
                Many of us just dream of many things we want in the future but act very poorly towards the same.A consistent and a positive approach towards our goal can surely make it easy and even earlier to achieve our destined goal.To make this possible you just need to keep aside a certain percentage of your income for your desired goal.            
            </li>
            <br/>
            <li style="font-size: 21px"><b>Spendings : </b>
                This is where the maximum percentage of your revenue will go.Depending on the lifestyle you are living you need to take out a certain percentage of your income to fulfill and clear your spendings.If the percentage of this category is too high eradicating any of the other categories then it would be best if you cut off the unnecessary and unwanted spendings so that all can be managed equally.            
            </li>
            <br/><br/>
            <span style="font-size: 21px">
                Even though these are some of the most essential categories we need to use,depending on your personal life and goals you can add whatever category you like and manage all of them consistently and honestly.And if practised and followed honestly you can surely achieve great many things and will never run out of money.All this will not only make you financially disciplined but also let you track your future financial life.Atlast we are the only ones responsible for our future.
            </span>
        </div>
    </div>
    <br/>





    <!--        <div layout="column" style="border: 1px solid black;margin-left: 5%;border-radius: 5px" flex="20">
                <strong style="background-color: orange;color: white;text-align: center;font-size: 25px">Categories</strong>
                
                <div layout="column" layout-align="start left" style="margin-left: 2%">
                    <p style="cursor: pointer"><md-icon>games</md-icon>&nbsp;Games</p>
                    <md-divider></md-divider>
                    <p style="cursor: pointer"><md-icon>tv</md-icon>&nbsp;TV</p>
                    <md-divider></md-divider>
                </div>
            </div>-->
    <!--</div>-->
</div>