<div layout="column" ng-controller="mainController" style="font-size: 18px;font-family: cursive;text-align: left" flex-gt-md="75" flex-gt-xs="100" flex-xs="100">
    <br/><br/>
    <!--<div layout="row">-->
    <div layout="column" style="margin-left: 2%;margin-right: 2%">
        <div layout="row">
            <div layout="column">
                <strong style="text-align: left;font-size: 35px">Best TV series to watch</strong>    
                <span>By BestChoiceAsap on 22 June 2020</span>
            </div>
            <span flex></span>
            <md-icon style="cursor: pointer" ng-click="copylink('http://www.bestchoiceasap.com/#!/tv')">share<md-tooltip md-direction="top">Share</md-tooltip></md-icon>
        </div>
        <br/>
        <img hide-xs ng-src="images/alltvs.jpg" style="height: 500px">    
        <img hide-gt-xs ng-src="images/alltvs.jpg" style="height: 200px">    
        <br/>
        <span style="font-size: 21px">Among vast varities of series and shows availabe today at your fingertip,one can find it quite confusing on which one to choose.Here are some wisely picked ones which you must watch atleast once as they will surely keep you excited.Give it a try if you have missed any and you won't regret your choice for sure.</span>
    </div>
    <br/>

    <md-card layout="column" style="border-radius: 10px">
        <md-card-content layout="column">
            <strong style="font-size: 30px">Westworld</strong>
            <strong>3 Seasons with 8/10 episodes each</strong>
            <br/>
            <img hide-xs ng-src="images/westworld.jpg" style="height: 500px"> 
            <img hide-gt-xs ng-src="images/westworld.jpg" style="height: 200px"> 
            <br/>
            <span style="font-size: 21px">The NOLAN entertainment have never let their audience down by any means and Westworld too gives a strong justification for this.
                Based on how the exploitive future technology can affect humans in various aspects.
                The show takes you on an amazing and satisfied coaster ride with its twists and turns throughout its storyline.
                The mesmerizing and unexceptional cast makes this show outstanding and Ramin Djawadi's music always keeps you tuned in.
                The quotes used are just endurable.
                Enriched with astounding cinematography,realistic visual effects and mind bending twists,this show will surely give something to remember.
                If you have not watched this show then you have missed one of the amazing shows of the era. Free will is not free.
            </span>
        </md-card-content>
    </md-card>

    <md-card layout="column" style="border-radius: 10px">
        <md-card-content layout="column">
            <strong style="font-size: 30px">Homeland</strong>
            <strong>8 Seasons with 12 episodes each</strong>
            <br/>
            <img hide-xs ng-src="images/homeland.jpg" style="height: 500px"> 
            <img hide-gt-xs ng-src="images/homeland.jpg" style="height: 200px"> 
            <br/>
            <span style="font-size: 21px">
                Ever wondered how the CIA operates?Right from the tiny detail to unimaginable strategies Homeland beautifully depicts the brains,actions and consequences of all the individuals working anonymously for their respective country.Although it mainly focuses on story of a single CIA agent but as the story progresses you get to know several characters working with their own strategies and mind.The first few episodes might feel sluggish and loopy but as the series moves ahead you are left in awe.Being shot on real locations,the cinematography is just amazing and the cast has done an incredible job justifying every scene.Thrilling storyline,engaging,intense and suspenseful drama this series is a class of its own. Not all conspiracies are theories.                    
            </span>
        </md-card-content>
    </md-card>

    <md-card layout="column" style="border-radius: 10px">
        <md-card-content layout="column">
            <strong style="font-size: 30px">Vikings</strong>
            <strong>6 Seasons with 10/20 episodes each</strong>
            <br/>
            <img hide-xs ng-src="images/viking.jpg" style="height: 500px"> 
            <img hide-gt-xs ng-src="images/viking.jpg" style="height: 200px"> 
            <br/>
            <span style="font-size: 21px">
                Energetic battles,breathtaking cinematography and graceful character development are just some of the highlights of this saga.As the name suggests,this series is all about the Vikings lifestyle,rituals,beliefs and other viking factors.The music is perfect and the sailing is adventurous exploring every important areas.The women empowerment is just awe-inspiring.The cast surely leaves a lasting impression with their solid performance throughout.Even though if history is not your genre this saga will not disappoint you and take you to the motivational lives of the Vikings. Shouting a Battle-Cry to Their Awesome God of War,Odin!               </span>
        </md-card-content>
    </md-card>

    <md-card layout="column" style="border-radius: 10px">
        <md-card-content layout="column">
            <strong style="font-size: 30px">Money Heist</strong>
            <strong>4 Seasons with 8-13 episodes each</strong>
            <br/>
            <img hide-xs ng-src="images/moneyheist.jpg" style="height: 500px"> 
            <img hide-gt-xs ng-src="images/moneyheist.jpg" style="height: 200px"> 
            <br/>
            <span style="font-size: 21px">
                Robbery for a good cause has always been something to watch throughout.La Casa de Papel or Money Heist is similar to this concept and amazingly shows how a brilliant master plan comes into action and how the unexpected hurdles on the way are successfully crossed by the team.It is all about a cat and mouse chase between the robbers and the police but more in a psychological way.This series is something which you could not stop watching in one night as the nerve-wrecking twist and turns will make you lose your patience so that you ultimately continue to the next episode.Incredible cast,heart-warming music and mind blowing master plans makes it a must watch series of the decade. Let the chaos begin.                </span>
        </md-card-content>
    </md-card>

    <md-card layout="column" style="border-radius: 10px">
        <md-card-content layout="column">
            <strong style="font-size: 30px">The Last Kingdom</strong>
            <strong>4 Seasons with 8/10 episodes each</strong>
            <br/>
            <img hide-xs ng-src="images/thelastkingdom.jpg" style="height: 500px"> 
            <img hide-gt-xs ng-src="images/thelastkingdom.jpg" style="height: 200px"> 
            <br/>
            <span style="font-size: 21px">
                Out of many medieval based series The Last Kingdom makes a place of its own due to several unique factors.It tells a story of a warrior who swears his sword for the welfare of the people.Sometimes for saxons and sometimes for vikings.This series brutally depicts how the unplanned decisions can lead to massive loss in various aspects.The celtic music is so energetic to be played repeatedly.Beautiful landscapes,eye catching cinematography,glorious fight scenes and amazing strategies makes this series unique from the other medieval shows.The characters are just remarkable.This series might surely give you a hell of an experience and something uniquely addictive as the show says, Destiny is all !
            </span>
        </md-card-content>
    </md-card>

    <!--        <div layout="column" style="border: 1px solid black;margin-left: 5%;border-radius: 5px" flex="20">
                <strong style="background-color: orange;color: white;text-align: center;font-size: 25px">Categories</strong>
                
                <div layout="column" layout-align="start left" style="margin-left: 2%">
                    <p style="cursor: pointer"><md-icon>games</md-icon>&nbsp;Games</p>
                    <md-divider></md-divider>
                    <p style="cursor: pointer"><md-icon>tv</md-icon>&nbsp;TV</p>
                    <md-divider></md-divider>
                </div>
            </div>-->
    <!--</div>-->
</div>


<!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "TVEpisode",
  "partOfTVSeries" : {
    "@type" : "TVSeries",
    "name" : "Westworld"
  },
  "partOfSeason" : {
    "@type" : "TVSeason",
    "seasonNumber" : "3"
  },
  "episodeNumber" : "10",
  "image" : "http://www.bestchoiceasap.com/images/westworld.jpg",
  "director" : {
    "@type" : "Person",
    "name" : "NOLAN"
  }
}
</script>
