<style>
    td{
        border-bottom:1px solid gray;
    }
</style>

<div layout="column" flex ng-controller="mainController">

    <md-button class="md-fab md-mini" ng-click="toggleLeft()"><md-icon>keyboard_arrow_right</md-icon></md-button>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-content layout="row">
            <div layout="column" style="background-color: blue;height: 100vh;width: 100px">
                <md-icon style="color:white;cursor: pointer">dashboard</md-icon>
                <md-icon style="color:white;cursor: pointer">build</md-icon>
                <md-icon style="color:white;cursor: pointer">trending_up</md-icon>
                <md-icon style="color:white;cursor: pointer">touch_app</md-icon>
                <md-icon style="color:white;cursor: pointer">today</md-icon>                
            </div>

            <div layout="column" layout-align="center center" style="margin-left:10px">
                <strong>Content</strong>
            </div>
            <span flex></span>
            <div align="right">
                <md-button class="md-fab md-mini" ng-click="toggleLeft()"><md-icon>keyboard_arrow_left</md-icon></md-button>
            </div>
        </md-content>
    </md-sidenav>

    <md-card layout="column" flex style="border-radius: 5px">
        <md-card-content layout="column">
            <div layout="row" layout-xs="column">

                <span flex></span>

                <md-input-container class="md-icon-float md-block">
                    <strong><md-icon>search</md-icon> Search</strong>                    
                    <input ng-model="search" type="text">              
                </md-input-container>                

                <span flex></span>

                <md-input-container>
                    <strong>Filter by Loan Status</strong>
                    <md-select ng-model="loanstatus">
                        <md-option value=" ">All</md-option>
                        <md-option value="PENDING">PENDING</md-option>
                        <md-option value="COMPLETED">COMPLETED</md-option>
                    </md-select>
                </md-input-container>

                <span flex></span>

                <md-input-container>
                    <strong>Filter by CMA Status</strong>
                    <md-select ng-model="cmastatus">
                        <md-option value=" ">All</md-option>
                        <md-option value="SUCCESSFUL">Successful</md-option>
                        <md-option value="FAILED">Failed</md-option>
                    </md-select>
                </md-input-container>

                <span flex></span>

                <md-input-container class="md-block">
                    <strong>Export as :</strong>
                    <div layout="row">
                        <md-icon style="margin-top:10px;cursor: pointer;color: red" ng-click="downloadPdf()">picture_as_pdf<md-tooltip>Download PDF</md-tooltip></md-icon>
                        <md-icon style="margin-top:10px;cursor: pointer;color: green" ng-click="downloadexcel()">description<md-tooltip>Download Excel</md-tooltip></md-icon>
                        <md-icon style="margin-top:10px;cursor: pointer;color: black" ng-click="printtable()">print<md-tooltip>Print</md-tooltip></md-icon>
                    </div>
                </md-input-container>

                <span flex></span>

            </div>

            <br/>

            <table id="exportable" width='100%' class="table table-condensed result" align="center" style="word-wrap: break-word;border-collapse: collapse;table-layout: fixed">
                <thead align="center" style="background-color: blue;color: white">	 
                    <tr>
                        <th style="text-align: center">Application ID</th>                
                        <th style="text-align: center">Name of Farmer</th>
                        <th style="text-align: center">Loan Application Date</th>
                        <th style="text-align: center">Transaction Price</th>
                        <th style="text-align: center">Loan Application Status</th>                
                        <th style="text-align: center">CMA Appointment Status</th>                
                        <th style="text-align: center">Details</th>                
                    </tr>
                </thead>	               
                <tbody align="center">
                    <tr dir-paginate="item in alldata | filter : search | filter : cmastatus | filter : loanstatus | itemsPerPage:6">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.loan_status}}</td>
                        <td>{{item.appointment_status}}</td>
                        <td><md-icon style="cursor: pointer;color: green">info</md-icon></td>                                                
                </tr>                                            
                </tbody>
            </table>

            <dir-pagination-controls align="right"
                                     max-size="5"
                                     direction-links="true"
                                     boundary-links="true" >
            </dir-pagination-controls>   


        </md-card-content>
    </md-card>

</div>
