<div layout="column" flex ng-controller="mainController" style="margin-left: 5%;margin-right: 5%">
    <md-card layout="column" flex style="border-radius: 5px">
        <md-card-content layout="column">
            <strong style="text-align: center;font-size: 22px">Complete your profile to get started</strong>
            <br/><br/>
                <strong style="font-size: 18px">Bank Details</strong>
            <br/>
            <md-divider></md-divider>
            <br/>

            <div>
                <md-input-container class="md-icon-float md-block">
                    <label>Bank Name</label>
                    <md-icon>account_balance</md-icon>
                    <input ng-model="bankname" type="text">
                </md-input-container>

                <div layout="row">
                    <md-input-container class="md-icon-float md-block">
                        <label>Bank Registration ID</label>
                        <md-icon>list_alt</md-icon>
                        <input ng-model="regid" type="text" ng-disabled="!bankname">
                    </md-input-container>                

                    <md-input-container class="md-icon-float md-block" style="margin-left: 10%">
                        <label>Branch Name</label>
                        <md-icon>location_on</md-icon>
                        <input ng-model="branchname" type="text" ng-disabled="!regid">
                    </md-input-container>                                
                </div>

                <div layout="row">
                    <md-input-container class="md-icon-float md-block">
                        <label>Account Number</label>
                        <md-icon>person_pin</md-icon>
                        <input ng-model="accno" type="text" ng-disabled="!branchname">
                    </md-input-container>                

                    <md-input-container class="md-icon-float md-block" style="margin-left: 10%">
                        <label>IFSC Code</label>
                        <md-icon>my_location</md-icon>
                        <input ng-model="ifsc" type="text" ng-disabled="!accno">
                    </md-input-container>                                
                </div>

                <div layout="row">
                    <md-input-container class="md-icon-float md-block">
                        <label>PAN Number</label>
                        <md-icon>credit_card</md-icon>
                        <input ng-model="pan" type="text" ng-disabled="!ifsc">
                    </md-input-container>                

                    <md-input-container class="md-icon-float md-block" style="margin-left: 10%">
                        <label>GST Number</label>
                        <md-icon>receipt</md-icon>
                        <input ng-model="gst" type="text" ng-disabled="!pan">
                    </md-input-container>                                
                </div>

            </div>

            <br/><br/>            

                <div align="center">
                    <md-button class="md-primary md-raised" style="border-radius: 30px;" ng-click="submit()" ng-disabled="!gst">Submit</md-button>
                </div>            
            
        </md-card-content>
    </md-card>

    <br/>


</div>
